.ipynb_checkpoints
**/.ipynb_checkpoints
.DS_Store
**/.DS_Store
**/.idea
Advance_Deep_Learning/.ipynb_checkpoints/
Advance_Deep_Learning/.ipynb_checkpoints/**
**/__pycache__/
Deep_learning_from_scratch/ex4-Pytorch/src_to_implement/checkpoints
Deep_learning_from_scratch/ex4-Pytorch/src_to_implement/images